<div class="container">
    <a href="#!templates">Go Back</a>
    <br>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <img class="img-full" src="poster/{{mainImage}}" alt="">
        </div>
        <div class="col-md-8">
            <h3>{{template.name}}</h3>
            <p>
                {{template.descrition}}
            </p>
            <h4>Type :
                <h6>{{template.type}}</h6>
            </h4>
            <h4>Imdb :
                <h6>{{template.imdb}}</h6>
            </h4>
            <h4>Price $19.99</h4>
            BUY IT
        </div>
    </div>
</div>